
html { 
  overflow: -moz-scrollbars-none;
  font-family: sans;
}

.logo-rh {
  position: absolute;
  right:25px;
  top: 10px; 

}
.logo-rh img {
  width: 200px;
}

.logo-top {
  position: absolute;
  top: 30px;
  left: 600px;
}

.logo-top img {
  height: 130px;
}

.upcoming {
  position: absolute !important;
  top: 750px !important;
  min-height: 100px !important;
}

.today {
  position: absolute;
  width: 78%;
  min-height: 350px;
  top: 200px;
  left: 355px;
  margin-bottom: 20px;
}

.today > span {
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  font-family: sans;
  font-size: 60px;
  margin-top: -25px;
  overflow: visible;
  border: 2px solid #59595C;
  background-color: #59595C;
}

.today #clock {
  font-family: monospace;
  font-size: 40px;
  background-color: white;
  border: none;
  color: black;
}

.today .content {
  color: grey;
  border: 2px solid #59595C;
  min-height: 350px;
  padding: 20px;
}

.title {
  color: black;
  font-size: 48px;
}

.location {
  font-size: 30px;
}

.time {
  margin-top: 10px;
  font-size: 40px;
  font-family: sans;
}

.time-wide {
  padding-top: 5px;
  text-align: center;
  font-size: 30px;
  width: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.event {
  display: flex;
  margin-bottom: 10px;
}

.event-started {
  background-color: #B0F8B0;
  border: 1px solid #B0F8B0;
  border-radius: 10px;
}

.event .time {
  width: 130px;
  margin-left: 30px;
  margin-right: 20px;
}

.event-container {
  flex-grow: 1;
}

.upcoming .event-container .title {
  text-overflow: ellipsis;
  white-space: nowrap;
}
